<!DOCTYPE html>
<html lang="en" data-ng-app="cricketScores">
<head>
	<title>6.3D - Cricket Scores</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,
	initial-scale=1.0" />
	<!-- Bootstrap -->
	<link href="framework/css/bootstrap.min.css" rel="stylesheet" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5
	elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the
	page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body data-ng-controller="cricketCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-lg-8" ng-if="!(matchData | isEmpty)">
				<!-- Main Score -->
				<div class="row well">
					<div class="col-sm-12 col-lg-12">
						<div>{{matchData.description}}</div>
					</div>
<!-- 					<div class="col-sm-2 col-lg-2 hidden-xs well">1.1 (Spacer)</div>
 -->					<div class="col-sm-8 col-lg-8" ng-if="matchData.centre.common">
						<span ng-repeat="i in [0, 1]">
							<div><span>{{getTeamName(matchData.innings[i].batting_team_id)}}</span>{{matchData.innings[i].runs}}/{{matchData.innings[i].wickets}} ({{matchData.innings[i].overs}} ov)</div>
						</span>
					</div>
<!-- 					<div class="col-sm-2 col-lg-2 hidden-xs well">1.3 (Spacer)</div>
 -->					<div class="col-sm-12 col-lg-12">
						<div>{{matchData.live.status}}</div>
					</div>
				</div>

				<!-- Additional Information -->
				<div class="row well">
					<div class="col-xs-6 col-sm-6 col-lg-6 well">Run Rate: {{matchData.live.innings.run_rate}} <span ng-if="matchData.live.innings.required_run_rate">Required Run Rate: {{matchData.live.innings.required_run-rate}}</span></div>
					<div class="col-xs-6 col-sm-6 col-lg-6 well">Reviews: <span ng-repeat="i in [0, 1]">{{getTeamName(matchData.live.review[i].team_id)}}: {{matchData.live.review[i].remaining}}</span></div>
				</div>

				<!-- Recent Score -->
				<div class="row well">
					<div class="col-sm-12 col-lg-12 well">
						<span ng-repeat="over in matchData.live.recent_overs">
							<span ng-repeat="ball in over">{{ball.ball}}</span>
						</span>
					</div>
				</div>

				<!-- Batsman's Scorecard - Transforms to full scorecard on lg template -->
				<div class="row well">
					<div class="col-sm-12 col-lg-12">
						<div>

						</div>
						<div class="row hidden-lg">
							<div class="col-sm-12 well">
								4.1; 1.1 (Batsman's Scorecard - Batsman 1)
							</div>
						</div>
						<div class="row hidden-lg">
							<div class="col-sm-12 well">
								4.1; 2.1 (Batsman's Scorecard - Batsman 2)
							</div>
						</div>
					</div>
				</div>

				<!-- Bowler's Scorecard - Hidden on large template -->
				<div class="row hidden-lg well">
					<div class="col-sm-12">
						5.1 (Bowler's Scorecard Container)
						<div class="row">
							<div class="col-sm-12 well">
								5.1; 1.1 (Bowler's Scorecard - Batsman 1)
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 well">
								5.1; 2.1 (Bowler's Scorecard - Batsman 1)
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Right hand sidebar for large devices -->
			<div class="col-lg-4 hidden-md hidden-sm hidden-xs well">
				<div class="row well" ng-repeat="match in summaryData.matches" ng-click="changeCurrentMatch(match)">
					<div class="col-lg-12">{{match.team1_name}} vs {{match.team2_name}}</div>
					<div class="col-lg-12">{{match.match_clock}}</div>
				</div>
				<div class="row">
					<div class="col-lg-12 well">5.1 (Search)</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery - required for Bootstrap's JavaScript plugins) -->
	<script src="framework/js/jquery.min.js"></script>
	<!-- All Bootstrap plug-ins file -->
	<script src="framework/js/bootstrap.min.js"></script>
	<!-- Basic AngularJS -->
	<script src="framework/js/angular.min.js"></script>
	<script src="myapp.js"></script>
</body>
</html>
